<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zenserapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/z_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/z_icon_rounded"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZenserApp">
        <activity
            android:name=".HelpPage"
            android:exported="true" />
        <activity
            android:name=".SettingPage"
            android:exported="true" />
        <activity
            android:name=".ui.categories.ProductDetails"
            android:exported="true" />
        <activity
            android:name=".ForgotPassword"
            android:exported="true" />
        <activity
            android:name=".single_listing1"
            android:exported="true" />
        <activity
            android:name=".Listing1Activity"
            android:exported="true" />
        <activity
            android:name=".ui.chat.ChatPage"
            android:exported="true" />

        <activity
            android:name=".LoginPage"
            android:exported="true" />
        <activity
            android:name=".RegisterPage"
            android:exported="true" />
        <activity
            android:name=".ui.sell.ListingDetails"
            android:exported="true"
            android:parentActivityName=".ui.sell.SellFragment" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.categories.DealsPageHome" />
        <activity android:name=".ui.categories.WomenFashionHome" />
        <activity android:name=".ui.categories.MenFashionHome" />
        <activity android:name=".ui.categories.EducationHome" />
        <activity android:name=".ui.categories.VoucherHome" />
        <activity android:name=".ui.categories.ComputerAndTechHome" />
        <activity android:name=".ui.categories.ServicesHome" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>